body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    color: dodgerblue;
    font-family: Arial;
    margin: 10px 20px 150px;
    height: 0; 
}
footer {
    background-color: rgb(56, 154, 246);
    color: rgb(14, 14, 162);
    padding: 4px;
    font-size: 16pt;
    font-family: 'Times New Roman';
    margin: 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}
header {
    background-color: rgba(6, 120, 227, 0.758);
    color: rgb(0, 16, 109);
    font-family: Arial;
    margin: 10px;
    text-align: center;
}
a {
    color: green(3, 183, 168);
    text-decoration: none;
    transition: 1s 2S;
}
a:link {
    color: rgb(14, 53, 100);
    text-decoration: underline;
}
a:visited {
    color: rgb(59, 146, 252);
    text-shadow: 5px 5px 8px rgb(2, 8, 55);
    font-weight: bold;
    text-decoration: underline;
}
a:hover {
    color: rgb(15, 21, 195);
    text-shadow: 5px 5px 8px rgb(0, 200, 255);
    font-weight: bold;
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color: rgb(244, 19, 94);
    opacity: 0.3;
}
div.menu { 
    border: 5px solid #1d008880; 
    border-radius: 5px;
    width: 450px;
    margin: 0 auto;
    background-color: #1e64fb30;
}
div.menu:hover {
    background-color: #ed0f7370;
    box-shadow: 0 0 20px #f91b9180;
    border-radius: 30px;
}
div.zagolovok {
    text-align: center;
    text-shadow: 0 5px 20px #05266c70;
}
