body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: lightblue;
    color: dodgerblue;
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: lightskyblue;
    color: Blue;
    font-family: Arial;
    margin: 10px;
}
header {
    background-color: lightskyblue;
    color: navy;
    font-family: Arial;
    margin: 10px;
}
a {
    text-decoration: none
}
a:link {
    color: rgb(14, 53, 100);
    text-decoration: underline;
}
a:visited {
    color: rgb(59, 146, 252);
    text-shadow: 5px 5px 8px rgb(2, 8, 55);
    font-weight: bold;
    text-decoration: underline;
}
a:hover {
    color: rgb(15, 21, 195);
    text-shadow: 5px 5px 8px rgb(0, 200, 255);
    font-weight: bold;
    text-decoration: underline;
}
a:active {
    color: black;
    opacity: 0.3;
}